DATABASE_URL="<your_database_url_here>"
SCHEMA_NAME="demo"
SECRET_KEY="TnDJQVvezGnlOjLmQIjLJcnNmT590-qQ_XRVhUGx7rqTml5AtHgrXE6bBc6aST-tWyDmLrgA4HgRKcEVXsZT2g"
ACCESS_TOKEN_EXPIRE_MINUTES=30
FIRST_SUPERUSER="admin@example.com"
FIRST_SUPERUSER_PASSWORD="12345678"
GOOGLE_CLIENT_ID="<your_google_client_id_here>"
GOOGLE_CLIENT_SECRET="<your_google_client_secret_here>"
GOOGLE_REDIRECT_URI="http://localhost:8000/login/google/callback"
GROQ_API_KEY="<your_groq_api_key_here>"